.card {
  width: 100%;        
  max-width: 500px;  
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  overflow: hidden;
}

.image-container {
  position: relative;
  height: 240px;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit:initial;
}

.date {
  position: absolute;
  top: 16px;
  right: 16px;
  background: white;
  padding: 6px 12px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 14px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.content {
  padding: 20px;
}

.tags {
  display: flex;
  gap: 8px;
  margin-bottom: 12px;
}

.tag {
  font-size: 11px;
  font-weight: bold;
  padding: 4px 10px;
  border-radius: 20px;
  text-transform: uppercase;
}

.tag.green { background: #dcfce7; color: #166534; }
.tag.blue { background: #dbeafe; color: #1e40af; }
.tag.yellow { background: #fef9c3; color: #854d0e; }

.title {
  font-size: 22px;
  font-weight: 800;
  color: #333;
  margin: 0 0 8px 0;
}

.description {
  font-size: 14px;
  color: #555;
  line-height: 1.5;
  margin-bottom: 16px;
}

.sep {
  height: 1px;
  background: #e5e7eb;
  margin: 10px 0;
}

.last {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}



.location{
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #333;
  font-weight: 500;
}

.icon {
  width: 18px;
  height: 18px;
  color: #dc2626;
  margin-right: 8px;
}

.details {
  background: #2563eb;
  color: white;
  border: none;
  padding: 10px 24px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  font-size: 13px;
}