
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; 
  padding: 20px;
}


.modal-content {
  background-color: white;
  padding: 30px 25px;
  border-radius: 24px;
  width: 100%;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  position: relative;
}


.relative-header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.buton-back {
    position: absolute;
    left: 0;
    background: white;
    border: 2px solid #333;
    border-radius: 20px;
    padding: 6px 16px;
    font-weight: 700;
    font-size: 14px;
    color: #333;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.modal-title {
    font-size: 18px;
    font-weight: 800;
    color: #222;
    margin: 0;
    text-transform: uppercase;
}


.qr-container {
    margin-bottom: 20px;
}

.qr-image {
    width: 80%;
    height: auto;
    max-width: 250px;
    display: block;
    margin: 0 auto;
}


.event-info-line {
    font-weight: 700;
    color: #333;
    font-size: 16px;
    margin-bottom: 10px;
}

.modal-tags {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 30px;
}


.tag-badge {
    font-size: 10px;
    font-weight: 800;
    padding: 4px 10px;
    border-radius: 12px;
    text-transform: uppercase;
}
.tag-green { background-color: #dcfce7; color: #166534; }
.tag-blue { background-color: #dbeafe; color: #1e40af; }
.tag-yellow { background-color: #fef9c3; color: #854d0e; }



.wallet-actions {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
}

.wallet-buton {
    height: 45px; 
    width: auto;
    cursor: pointer;
    border-radius: 8px;
}


.buton-export {
    width: 100%;
    background-color: white;
    border: 2px solid #3b82f6; 
    color: #3b82f6;
    font-size: 16px;
    font-weight: 800;
    padding: 14px;
    border-radius: 12px;
    cursor: pointer;
    transition: background 0.1s;
}

.buton-export:hover {
    background-color: #f0f7ff;
}