
.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f3f4f6; 

}


.auth-card {
  background: white;
  width: 100%;
  max-width: 400px; 
  padding: 40px;
  border-radius: 24px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.05);
  text-align: center;
}


.auth-title {
  margin: 0 0 10px 0;
  font-size: 28px;
  color: #333;
  font-weight: 800;
}

.auth-subtitle {
  margin: 0 0 30px 0;
  color: #666;
  font-size: 14px;
}


.auth-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: left; 
}

.form-group { 
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-group label {
  font-size: 14px;
  font-weight: 600;
  color: #444;
  margin-left: 10px; 
}


.form-group input {
  padding: 12px 20px;
  border-radius: 20px;
  border: 1px solid #ddd;
  background-color: #f9fafb;
  font-size: 16px;
  outline: none;
  transition: border-color 0.2s;
}

.form-group input:focus {
  border-color: #3b82f6; 
  background-color: #fff;
}


.buton-auth {
  margin-top: 10px;
  padding: 14px;
  background-color: #3b82f6;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s;
}

.buton-auth:hover {
  background-color: #2563eb;
}

.auth-footer {
  margin-top: 25px;
  font-size: 14px;
  color: #666;
}

.toggle-link {
  color: #3b82f6;
  font-weight: bold;
  cursor: pointer;
  margin-left: 5px;
}

.toggle-link:hover {
  text-decoration: underline;
}