.App {
  text-align: center;
  padding: 20px;
  min-height: 100vh;
  width: 100%;
  
}

.Header{
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  align-items: center;
  color: #555;
  

}

.user_name{
  font-size:2em;
  font-weight: bold;
  color: #333;
}


.user-info {
  gap: 5px;
  display: flex;
  color: #555;

  
}

.Search {
  max-width: 100%;
  margin: 0px 20px 0 20px;
  display: flex;
  align-items: center;
  border: 2px solid black;
  border-radius: 20px;

}

.search-icon {
  margin-left: 10px;
  width: 20px;     
}

.search-input {
  

  border: none;
  outline: none;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  font-size: 16px;
  border-radius: 20px;

}

.Grid {
display: grid;
  gap: 20px;
  
  /* Aceasta este singura linie necesară pentru coloane responsive */
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  
  width: 100%; 
  padding: 20px; /* Asigură un pic de spațiu la margini */
  box-sizing: border-box; /* Previne scroll-ul orizontal cauzat de padding */
}

@media (min-width: 768px) {
  .Grid{
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (min-width: 1024px) {
  .Grid {
    grid-template-columns: repeat(3, 1fr);
  }
}