.event-card-container {
  background: #e7e7e7;
  border-radius: 30px; 
  overflow: hidden; 
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.06); 
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  display: flex;
  flex-direction: column;
  height: 100%;
  cursor: pointer;
  border: 1px solid #f0f0f0;
  
}

.event-card-container:hover {
  transform: translateY(-4px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.1);
}

.card-media {
  position: relative;
  height: 220px;
  width: 100%;
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit:cover;
}


.badge-category {
  position: absolute;
  top: 15px;
  left: 15px;
  background-color: #ffcc00; 
  color: #000;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  z-index: 2;
}


.badge-date {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #fff;
  color: #000;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 700;
  z-index: 2;
}

.card-content {
  padding: 15px;
  display: flex;
  flex-direction: column; 
  flex-grow: 1;
  justify-content: space-between; 
}

.card-title {
  font-size: 17px;
  font-weight: 300;
  color: #3d3d3d;
  margin: 0 0 10px 0;
  line-height: 1.3;
}

.card-desc {
  font-size: 12px;
  color: #777;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 15px; 
 /* display: -webkit-box;
  -webkit-line-clamp: 2;*/
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-loc {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  color: #444;
}

.pin-icon {
  margin-right: 5px;
  color: #cc0000;
}


.btn-action {
  border: none;
  border-radius: 8px;
  padding: 8px 22px;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}

.red-btn {
  background-color: #ff6b6b;
  color: white;
}
.red-btn:hover { background-color: #ff5252; }


.overlay-btn {
    position: absolute;
    top: 50px; 
    left: 15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background: rgba(0,0,0,0.6);
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.divider-line{
  height: 2px;
  background-color: #141414; 
  width: 100%;
  margin-top: 0px; 
  margin-bottom: 15px; 
  z-index: 2;
}

.card-top-info {
  flex-grow: 1; 
  display: flex;
  flex-direction: column;
;
}


.badge-category {
  position: absolute;
  top: 15px; 
  left: 15px;
  
  color: #fff; 
  padding: 6px 14px; 
  border-radius: 20px;
  font-size: 11px; 
  font-weight: 700; 
  text-transform: uppercase; 
  z-index: 2;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2); 
}